@use '../abstract/variaveis';
@use '../abstract/mixins';

header {
    background: variaveis.$gradiente-primario;
    padding: 2rem;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        .linha {
            border-top: 1px solid #000000;
            width: 80%;
        }

        ul {
            display: inline-flex;
            gap: 2rem;

            li {
                list-style-type: none;
            }

            a {
                text-decoration: none;
                @include mixins.ff-fs-cl(variaveis.$ft-textos, 1rem, variaveis.$cor-primaria);
                font-weight: 500;

                &:hover {
                    font-weight: 600;
                }
            }
        }
    }

    #home {
        max-width: 1040px;
        @include mixins.margem-central(80%);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .textos-home {
            max-width: 464px;

            h1 {
                @include mixins.ff-fs-cl(variaveis.$ft-titulos, 42px, variaveis.$cor-primaria);
                margin-bottom: 2rem;

                span {
                    color: variaveis.$cor-secundaria;
                }
            }
        }

        .btn-main {
            width: 280px;
            height: 66px;
            border-radius: 66px;
            border: none;
            outline: none;
            background: variaveis.$cor-default;
            @include mixins.ff-fs-cl(variaveis.$ft-textos, 1.3rem, white);

            &:hover {
                background: variaveis.$cor-secundaria;
                color: white;
            }
        }

        .img-home {
            max-width: 474px;

            img {
                width: 100%;
            }

        }
    }
}